@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 1920px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .footer .footer-main-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 200px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--viettelredvt);
  }
  
  .footer .footer-logo {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .footer .viettel-developers {
    position: relative;
    width: 275px;
    height: 110px;
  }
  
  .footer .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: var(--regular-roboto-text-small-font-family);
    font-weight: var(--regular-roboto-text-small-font-weight);
    color: var(--viettelblack);
    font-size: var(--regular-roboto-text-small-font-size);
    letter-spacing: var(--regular-roboto-text-small-letter-spacing);
    line-height: var(--regular-roboto-text-small-line-height);
    font-style: var(--regular-roboto-text-small-font-style);
  }
  
  .footer .frame {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .footer .div {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
  }
  
  .footer .m-s-doanh-nghi-p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--regular-roboto-text-small-font-family);
    font-weight: var(--regular-roboto-text-small-font-weight);
    color: var(--viettelblack);
    font-size: var(--regular-roboto-text-small-font-size);
    letter-spacing: var(--regular-roboto-text-small-letter-spacing);
    line-height: var(--regular-roboto-text-small-line-height);
    font-style: var(--regular-roboto-text-small-font-style);
  }
  
  .footer .frame-2 {
    display: flex;
    width: 870px;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    position: relative;
  }
  
  .footer .footer-contents {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .footer .header-text {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--bold-FS-text-medium-font-family);
    font-weight: var(--bold-FS-text-medium-font-weight);
    color: var(--viettelblack);
    font-size: var(--bold-FS-text-medium-font-size);
    letter-spacing: var(--bold-FS-text-medium-letter-spacing);
    line-height: var(--bold-FS-text-medium-line-height);
    font-style: var(--bold-FS-text-medium-font-style);
  }
  
  .footer .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .footer .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--bold-FS-text-medium-font-family);
    font-weight: var(--bold-FS-text-medium-font-weight);
    color: var(--viettelblack);
    font-size: var(--bold-FS-text-medium-font-size);
    text-align: center;
    letter-spacing: var(--bold-FS-text-medium-letter-spacing);
    line-height: var(--bold-FS-text-medium-line-height);
    font-style: var(--bold-FS-text-medium-font-style);
  }
  
  .footer .frame-4 {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
  }
  
  .footer .footer-icon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    position: relative;
    border-radius: var(--shape-corner-small);
    border: 1px solid;
    border-color: var(--viettelblack);
  }
  
  .footer .img {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .footer .footer-icon-2 {
    position: relative;
    width: 50px;
    height: 50px;
  }

  :root {
    --white: rgba(255, 255, 255, 1);
    --viettelwhitevt: rgba(255, 255, 255, 1);
    --viettellight-gray: rgba(242, 242, 242, 1);
    --viettelgray: rgba(181, 180, 180, 1);
    --vietteldark-gray: rgba(68, 73, 77, 1);
    --viettelblack: rgba(0, 0, 0, 1);
    --viettelredvt: rgba(238, 0, 51, 1);
    --vietteldome-metercolor-1: rgba(253, 3, 3, 1);
    --vietteldome-metercolor-2: rgba(255, 142, 14, 1);
    --vietteldome-metercolor-3: rgba(254, 215, 24, 1);
    --vietteldome-metercolor-4: rgba(177, 237, 27, 1);
    --vietteldome-metercolor-5: rgba(102, 209, 22, 1);
    --vietteldome-metercolor-6: rgba(0, 152, 13, 1);
    --viettellogologo-background: rgba(204, 0, 44, 1);
    --viettelbannerimage-4-background: rgba(24, 24, 24, 1);
    --viettelsandboxhttp-methodget: rgba(97, 175, 254, 1);
    --viettelsandboxhttp-methodpost: rgba(73, 204, 144, 1);
    --viettelsandboxhttp-methodput: rgba(252, 161, 48, 1);
    --viettelsandboxhttp-methoddelete: rgba(249, 62, 62, 1);
    --viettelsandboxhttp-methodpatch: rgba(80, 227, 194, 1);
    --viettelsandboxhttp-method-backgroundget: rgba(239, 247, 255, 1);
    --viettelsandboxhttp-method-backgroundpost: rgba(236, 250, 244, 1);
    --viettelsandboxhttp-method-backgroundput: rgba(255, 245, 234, 1);
    --viettelsandboxhttp-method-backgrounddelete: rgba(255, 235, 235, 1);
    --viettelsandboxhttp-method-backgroundpatch: rgba(237, 252, 249, 1);
    --viettelsandboxcode-colorgreen: rgba(162, 252, 162, 1);
    --viettelsandboxcode-colorred: rgba(211, 99, 99, 1);
    --viettelsandboxcode-colorblack: rgba(0, 0, 0, 1);
    --viettelsandboxcode-colorwhite: rgba(255, 255, 255, 1);
    --viettelsandboxcode-colorgray-background: rgba(242, 242, 242, 1);
    --gray-25: rgba(252, 252, 253, 1);
    --gray-50: rgba(249, 250, 251, 1);
    --gray-100: rgba(242, 244, 247, 1);
    --gray-200: rgba(228, 231, 236, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-400: rgba(152, 162, 179, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --gray-600: rgba(71, 84, 103, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --gray-800: rgba(29, 41, 57, 1);
    --gray-900: rgba(16, 24, 40, 1);
    --primary-25: rgba(252, 250, 255, 1);
    --primary-50: rgba(249, 245, 255, 1);
    --primary-100: rgba(244, 235, 255, 1);
    --primary-200: rgba(233, 215, 254, 1);
    --primary-300: rgba(214, 187, 251, 1);
    --primary-400: rgba(182, 146, 251, 1);
    --primary-500: rgba(158, 119, 237, 1);
    --primary-600: rgba(127, 86, 217, 1);
    --primary-700: rgba(105, 65, 198, 1);
    --primary-800: rgba(83, 56, 158, 1);
    --primary-900: rgba(66, 48, 125, 1);
    --error-25: rgba(255, 251, 250, 1);
    --error-50: rgba(254, 243, 242, 1);
    --error-100: rgba(254, 228, 226, 1);
    --error-200: rgba(254, 205, 202, 1);
    --error-300: rgba(253, 162, 155, 1);
    --error-400: rgba(249, 112, 102, 1);
    --error-500: rgba(240, 68, 56, 1);
    --error-600: rgba(217, 45, 32, 1);
    --error-700: rgba(180, 35, 24, 1);
    --error-800: rgba(145, 32, 24, 1);
    --error-900: rgba(122, 39, 26, 1);
    --warning-25: rgba(255, 252, 245, 1);
    --warning-50: rgba(255, 250, 235, 1);
    --warning-100: rgba(254, 240, 199, 1);
    --warning-200: rgba(254, 223, 137, 1);
    --warning-300: rgba(254, 200, 75, 1);
    --warning-400: rgba(253, 176, 34, 1);
    --warning-500: rgba(247, 144, 9, 1);
    --warning-600: rgba(220, 104, 3, 1);
    --warning-700: rgba(181, 71, 8, 1);
    --warning-800: rgba(147, 55, 13, 1);
    --warning-900: rgba(122, 46, 14, 1);
    --success-25: rgba(246, 254, 249, 1);
    --success-50: rgba(236, 253, 243, 1);
    --success-100: rgba(209, 250, 223, 1);
    --success-200: rgba(166, 244, 197, 1);
    --success-300: rgba(108, 233, 166, 1);
    --success-400: rgba(50, 213, 131, 1);
    --success-500: rgba(18, 183, 106, 1);
    --success-600: rgba(3, 152, 85, 1);
    --success-700: rgba(2, 122, 72, 1);
    --success-800: rgba(5, 96, 58, 1);
    --success-900: rgba(5, 79, 49, 1);
    --blue-gray-25: rgba(252, 252, 253, 1);
    --blue-gray-50: rgba(248, 249, 252, 1);
    --blue-gray-100: rgba(234, 236, 245, 1);
    --blue-gray-200: rgba(200, 204, 229, 1);
    --blue-gray-300: rgba(158, 165, 209, 1);
    --blue-gray-400: rgba(113, 123, 188, 1);
    --blue-gray-500: rgba(78, 91, 166, 1);
    --blue-gray-600: rgba(62, 71, 132, 1);
    --blue-gray-700: rgba(54, 63, 114, 1);
    --blue-gray-800: rgba(41, 48, 86, 1);
    --blue-gray-900: rgba(16, 19, 35, 1);
    --indigo-25: rgba(245, 248, 255, 1);
    --indigo-50: rgba(238, 244, 255, 1);
    --indigo-100: rgba(224, 234, 255, 1);
    --indigo-200: rgba(199, 215, 254, 1);
    --indigo-300: rgba(164, 188, 253, 1);
    --indigo-400: rgba(128, 152, 249, 1);
    --indigo-500: rgba(97, 114, 243, 1);
    --indigo-600: rgba(68, 76, 231, 1);
    --indigo-700: rgba(53, 56, 205, 1);
    --indigo-800: rgba(45, 49, 166, 1);
    --indigo-900: rgba(45, 50, 130, 1);
    --main-framebackground: rgba(255, 255, 255, 1);
    --regular-roboto-display-xxlarge-font-family: "Roboto", Helvetica;
    --regular-roboto-display-xxlarge-font-weight: 400;
    --regular-roboto-display-xxlarge-font-size: 72px;
    --regular-roboto-display-xxlarge-letter-spacing: -1.44px;
    --regular-roboto-display-xxlarge-line-height: 90px;
    --regular-roboto-display-xxlarge-font-style: normal;
    --regular-roboto-display-xlarge-font-family: "Roboto", Helvetica;
    --regular-roboto-display-xlarge-font-weight: 400;
    --regular-roboto-display-xlarge-font-size: 60px;
    --regular-roboto-display-xlarge-letter-spacing: -1.2px;
    --regular-roboto-display-xlarge-line-height: 72px;
    --regular-roboto-display-xlarge-font-style: normal;
    --regular-roboto-display-large-font-family: "Roboto", Helvetica;
    --regular-roboto-display-large-font-weight: 400;
    --regular-roboto-display-large-font-size: 48px;
    --regular-roboto-display-large-letter-spacing: -0.96px;
    --regular-roboto-display-large-line-height: 60px;
    --regular-roboto-display-large-font-style: normal;
    --regular-roboto-display-medium-font-family: "Roboto", Helvetica;
    --regular-roboto-display-medium-font-weight: 400;
    --regular-roboto-display-medium-font-size: 36px;
    --regular-roboto-display-medium-letter-spacing: -0.72px;
    --regular-roboto-display-medium-line-height: 44px;
    --regular-roboto-display-medium-font-style: normal;
    --regular-roboto-display-small-font-family: "Roboto", Helvetica;
    --regular-roboto-display-small-font-weight: 400;
    --regular-roboto-display-small-font-size: 32px;
    --regular-roboto-display-small-letter-spacing: 0px;
    --regular-roboto-display-small-line-height: 40px;
    --regular-roboto-display-small-font-style: normal;
    --regular-roboto-display-XS-font-family: "Roboto", Helvetica;
    --regular-roboto-display-XS-font-weight: 400;
    --regular-roboto-display-XS-font-size: 24px;
    --regular-roboto-display-XS-letter-spacing: 0px;
    --regular-roboto-display-XS-line-height: 32px;
    --regular-roboto-display-XS-font-style: normal;
    --regular-roboto-text-xlarge-font-family: "Roboto", Helvetica;
    --regular-roboto-text-xlarge-font-weight: 400;
    --regular-roboto-text-xlarge-font-size: 20px;
    --regular-roboto-text-xlarge-letter-spacing: 0px;
    --regular-roboto-text-xlarge-line-height: 30px;
    --regular-roboto-text-xlarge-font-style: normal;
    --regular-roboto-text-large-font-family: "Roboto", Helvetica;
    --regular-roboto-text-large-font-weight: 400;
    --regular-roboto-text-large-font-size: 18px;
    --regular-roboto-text-large-letter-spacing: 0px;
    --regular-roboto-text-large-line-height: 28px;
    --regular-roboto-text-large-font-style: normal;
    --regular-roboto-text-medium-font-family: "Roboto", Helvetica;
    --regular-roboto-text-medium-font-weight: 400;
    --regular-roboto-text-medium-font-size: 16px;
    --regular-roboto-text-medium-letter-spacing: 0px;
    --regular-roboto-text-medium-line-height: 24px;
    --regular-roboto-text-medium-font-style: normal;
    --regular-roboto-text-small-font-family: "Roboto", Helvetica;
    --regular-roboto-text-small-font-weight: 400;
    --regular-roboto-text-small-font-size: 14px;
    --regular-roboto-text-small-letter-spacing: 0px;
    --regular-roboto-text-small-line-height: 20px;
    --regular-roboto-text-small-font-style: normal;
    --regular-roboto-text-XS-font-family: "Roboto", Helvetica;
    --regular-roboto-text-XS-font-weight: 400;
    --regular-roboto-text-XS-font-size: 12px;
    --regular-roboto-text-XS-letter-spacing: 0px;
    --regular-roboto-text-XS-line-height: 18px;
    --regular-roboto-text-XS-font-style: normal;
    --regular-NS-text-XS-font-family: "Nunito Sans", Helvetica;
    --regular-NS-text-XS-font-weight: 400;
    --regular-NS-text-XS-font-size: 12px;
    --regular-NS-text-XS-letter-spacing: 0px;
    --regular-NS-text-XS-line-height: 18px;
    --regular-NS-text-XS-font-style: normal;
    --regular-NS-text-small-font-family: "Nunito Sans", Helvetica;
    --regular-NS-text-small-font-weight: 400;
    --regular-NS-text-small-font-size: 14px;
    --regular-NS-text-small-letter-spacing: 0px;
    --regular-NS-text-small-line-height: 20px;
    --regular-NS-text-small-font-style: normal;
    --regular-NS-text-medium-font-family: "Nunito Sans", Helvetica;
    --regular-NS-text-medium-font-weight: 400;
    --regular-NS-text-medium-font-size: 16px;
    --regular-NS-text-medium-letter-spacing: 0px;
    --regular-NS-text-medium-line-height: 24px;
    --regular-NS-text-medium-font-style: normal;
    --regular-NS-text-large-font-family: "Nunito Sans", Helvetica;
    --regular-NS-text-large-font-weight: 400;
    --regular-NS-text-large-font-size: 18px;
    --regular-NS-text-large-letter-spacing: 0px;
    --regular-NS-text-large-line-height: 28px;
    --regular-NS-text-large-font-style: normal;
    --regular-NS-text-xlarge-font-family: "Nunito Sans", Helvetica;
    --regular-NS-text-xlarge-font-weight: 400;
    --regular-NS-text-xlarge-font-size: 20px;
    --regular-NS-text-xlarge-letter-spacing: 0px;
    --regular-NS-text-xlarge-line-height: 30px;
    --regular-NS-text-xlarge-font-style: normal;
    --regular-NS-display-XS-font-family: "Nunito Sans", Helvetica;
    --regular-NS-display-XS-font-weight: 400;
    --regular-NS-display-XS-font-size: 24px;
    --regular-NS-display-XS-letter-spacing: 0px;
    --regular-NS-display-XS-line-height: 32px;
    --regular-NS-display-XS-font-style: normal;
    --regular-NS-display-small-font-family: "Nunito Sans", Helvetica;
    --regular-NS-display-small-font-weight: 400;
    --regular-NS-display-small-font-size: 32px;
    --regular-NS-display-small-letter-spacing: 0px;
    --regular-NS-display-small-line-height: 40px;
    --regular-NS-display-small-font-style: normal;
    --regular-NS-display-medium-font-family: "Nunito Sans", Helvetica;
    --regular-NS-display-medium-font-weight: 400;
    --regular-NS-display-medium-font-size: 36px;
    --regular-NS-display-medium-letter-spacing: -0.72px;
    --regular-NS-display-medium-line-height: 44px;
    --regular-NS-display-medium-font-style: normal;
    --regular-NS-display-large-font-family: "Nunito Sans", Helvetica;
    --regular-NS-display-large-font-weight: 400;
    --regular-NS-display-large-font-size: 48px;
    --regular-NS-display-large-letter-spacing: -0.96px;
    --regular-NS-display-large-line-height: 60px;
    --regular-NS-display-large-font-style: normal;
    --regular-NS-display-xlarge-font-family: "Nunito Sans", Helvetica;
    --regular-NS-display-xlarge-font-weight: 400;
    --regular-NS-display-xlarge-font-size: 60px;
    --regular-NS-display-xlarge-letter-spacing: -1.2px;
    --regular-NS-display-xlarge-line-height: 72px;
    --regular-NS-display-xlarge-font-style: normal;
    --regular-NS-display-xxlarge-font-family: "Nunito Sans", Helvetica;
    --regular-NS-display-xxlarge-font-weight: 400;
    --regular-NS-display-xxlarge-font-size: 72px;
    --regular-NS-display-xxlarge-letter-spacing: -1.44px;
    --regular-NS-display-xxlarge-line-height: 90px;
    --regular-NS-display-xxlarge-font-style: normal;
    --bold-NS-text-XS-font-family: "Nunito Sans", Helvetica;
    --bold-NS-text-XS-font-weight: 700;
    --bold-NS-text-XS-font-size: 12px;
    --bold-NS-text-XS-letter-spacing: 0px;
    --bold-NS-text-XS-line-height: 18px;
    --bold-NS-text-XS-font-style: normal;
    --bold-NS-text-small-font-family: "Nunito Sans", Helvetica;
    --bold-NS-text-small-font-weight: 700;
    --bold-NS-text-small-font-size: 14px;
    --bold-NS-text-small-letter-spacing: 0px;
    --bold-NS-text-small-line-height: 20px;
    --bold-NS-text-small-font-style: normal;
    --bold-NS-text-medium-font-family: "Nunito Sans", Helvetica;
    --bold-NS-text-medium-font-weight: 700;
    --bold-NS-text-medium-font-size: 16px;
    --bold-NS-text-medium-letter-spacing: 0px;
    --bold-NS-text-medium-line-height: 24px;
    --bold-NS-text-medium-font-style: normal;
    --bold-NS-text-large-font-family: "Nunito Sans", Helvetica;
    --bold-NS-text-large-font-weight: 700;
    --bold-NS-text-large-font-size: 18px;
    --bold-NS-text-large-letter-spacing: 0px;
    --bold-NS-text-large-line-height: 28px;
    --bold-NS-text-large-font-style: normal;
    --bold-NS-text-xlarge-font-family: "Nunito Sans", Helvetica;
    --bold-NS-text-xlarge-font-weight: 700;
    --bold-NS-text-xlarge-font-size: 20px;
    --bold-NS-text-xlarge-letter-spacing: 0px;
    --bold-NS-text-xlarge-line-height: 30px;
    --bold-NS-text-xlarge-font-style: normal;
    --bold-NS-display-XS-font-family: "Nunito Sans", Helvetica;
    --bold-NS-display-XS-font-weight: 700;
    --bold-NS-display-XS-font-size: 24px;
    --bold-NS-display-XS-letter-spacing: 0px;
    --bold-NS-display-XS-line-height: 32px;
    --bold-NS-display-XS-font-style: normal;
    --bold-NS-display-small-font-family: "Nunito Sans", Helvetica;
    --bold-NS-display-small-font-weight: 700;
    --bold-NS-display-small-font-size: 24px;
    --bold-NS-display-small-letter-spacing: 0px;
    --bold-NS-display-small-line-height: 32px;
    --bold-NS-display-small-font-style: normal;
    --bold-NS-display-medium-font-family: "Nunito Sans", Helvetica;
    --bold-NS-display-medium-font-weight: 700;
    --bold-NS-display-medium-font-size: 36px;
    --bold-NS-display-medium-letter-spacing: -0.72px;
    --bold-NS-display-medium-line-height: 44px;
    --bold-NS-display-medium-font-style: normal;
    --bold-NS-display-large-font-family: "Nunito Sans", Helvetica;
    --bold-NS-display-large-font-weight: 700;
    --bold-NS-display-large-font-size: 48px;
    --bold-NS-display-large-letter-spacing: -0.96px;
    --bold-NS-display-large-line-height: 60px;
    --bold-NS-display-large-font-style: normal;
    --bold-NS-display-xlarge-font-family: "Nunito Sans", Helvetica;
    --bold-NS-display-xlarge-font-weight: 700;
    --bold-NS-display-xlarge-font-size: 60px;
    --bold-NS-display-xlarge-letter-spacing: -1.2px;
    --bold-NS-display-xlarge-line-height: 72px;
    --bold-NS-display-xlarge-font-style: normal;
    --bold-NS-display-xxlarge-font-family: "Nunito Sans", Helvetica;
    --bold-NS-display-xxlarge-font-weight: 700;
    --bold-NS-display-xxlarge-font-size: 72px;
    --bold-NS-display-xxlarge-letter-spacing: -1.44px;
    --bold-NS-display-xxlarge-line-height: 90px;
    --bold-NS-display-xxlarge-font-style: normal;
    --semibold-NS-text-XS-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-text-XS-font-weight: 600;
    --semibold-NS-text-XS-font-size: 12px;
    --semibold-NS-text-XS-letter-spacing: 0px;
    --semibold-NS-text-XS-line-height: 18px;
    --semibold-NS-text-XS-font-style: normal;
    --semibold-NS-text-small-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-text-small-font-weight: 600;
    --semibold-NS-text-small-font-size: 14px;
    --semibold-NS-text-small-letter-spacing: 0px;
    --semibold-NS-text-small-line-height: 20px;
    --semibold-NS-text-small-font-style: normal;
    --semibold-NS-text-medium-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-text-medium-font-weight: 600;
    --semibold-NS-text-medium-font-size: 16px;
    --semibold-NS-text-medium-letter-spacing: 0px;
    --semibold-NS-text-medium-line-height: 24px;
    --semibold-NS-text-medium-font-style: normal;
    --semibold-NS-text-large-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-text-large-font-weight: 600;
    --semibold-NS-text-large-font-size: 18px;
    --semibold-NS-text-large-letter-spacing: 0px;
    --semibold-NS-text-large-line-height: 28px;
    --semibold-NS-text-large-font-style: normal;
    --semibold-NS-text-xlarge-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-text-xlarge-font-weight: 600;
    --semibold-NS-text-xlarge-font-size: 20px;
    --semibold-NS-text-xlarge-letter-spacing: 0px;
    --semibold-NS-text-xlarge-line-height: 30px;
    --semibold-NS-text-xlarge-font-style: normal;
    --semibold-NS-display-XS-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-display-XS-font-weight: 600;
    --semibold-NS-display-XS-font-size: 24px;
    --semibold-NS-display-XS-letter-spacing: 0px;
    --semibold-NS-display-XS-line-height: 32px;
    --semibold-NS-display-XS-font-style: normal;
    --semibold-NS-display-xsmall-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-display-xsmall-font-weight: 600;
    --semibold-NS-display-xsmall-font-size: 24px;
    --semibold-NS-display-xsmall-letter-spacing: 0px;
    --semibold-NS-display-xsmall-line-height: 32px;
    --semibold-NS-display-xsmall-font-style: normal;
    --semibold-NS-display-medium-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-display-medium-font-weight: 600;
    --semibold-NS-display-medium-font-size: 36px;
    --semibold-NS-display-medium-letter-spacing: -0.72px;
    --semibold-NS-display-medium-line-height: 44px;
    --semibold-NS-display-medium-font-style: normal;
    --semibold-NS-display-large-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-display-large-font-weight: 600;
    --semibold-NS-display-large-font-size: 48px;
    --semibold-NS-display-large-letter-spacing: -0.96px;
    --semibold-NS-display-large-line-height: 60px;
    --semibold-NS-display-large-font-style: normal;
    --semibold-NS-display-xlarge-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-display-xlarge-font-weight: 600;
    --semibold-NS-display-xlarge-font-size: 60px;
    --semibold-NS-display-xlarge-letter-spacing: -1.2px;
    --semibold-NS-display-xlarge-line-height: 72px;
    --semibold-NS-display-xlarge-font-style: normal;
    --semibold-NS-display-xxlarge-font-family: "Nunito Sans", Helvetica;
    --semibold-NS-display-xxlarge-font-weight: 600;
    --semibold-NS-display-xxlarge-font-size: 72px;
    --semibold-NS-display-xxlarge-letter-spacing: -1.44px;
    --semibold-NS-display-xxlarge-line-height: 90px;
    --semibold-NS-display-xxlarge-font-style: normal;
    --number-lato-semibold-24-font-family: "Lato", Helvetica;
    --number-lato-semibold-24-font-weight: 600;
    --number-lato-semibold-24-font-size: 24px;
    --number-lato-semibold-24-letter-spacing: 0.48px;
    --number-lato-semibold-24-line-height: 24px;
    --number-lato-semibold-24-font-style: normal;
    --number-lato-semibold-16-font-family: "Lato", Helvetica;
    --number-lato-semibold-16-font-weight: 600;
    --number-lato-semibold-16-font-size: 16px;
    --number-lato-semibold-16-letter-spacing: 0.32px;
    --number-lato-semibold-16-line-height: 24px;
    --number-lato-semibold-16-font-style: normal;
    --number-lato-semibold-32-font-family: "Lato", Helvetica;
    --number-lato-semibold-32-font-weight: 600;
    --number-lato-semibold-32-font-size: 32px;
    --number-lato-semibold-32-letter-spacing: 0px;
    --number-lato-semibold-32-line-height: 32px;
    --number-lato-semibold-32-font-style: normal;
    --number-lato-semibold-48-font-family: "Lato", Helvetica;
    --number-lato-semibold-48-font-weight: 600;
    --number-lato-semibold-48-font-size: 48px;
    --number-lato-semibold-48-letter-spacing: 0px;
    --number-lato-semibold-48-line-height: 48px;
    --number-lato-semibold-48-font-style: normal;
    --number-lato-semibold-24px-font-family: "Lato", Helvetica;
    --number-lato-semibold-24px-font-weight: 600;
    --number-lato-semibold-24px-font-size: 20px;
    --number-lato-semibold-24px-letter-spacing: 0px;
    --number-lato-semibold-24px-line-height: 30px;
    --number-lato-semibold-24px-font-style: normal;
    --regular-lato-text-XS-font-family: "Lato", Helvetica;
    --regular-lato-text-XS-font-weight: 400;
    --regular-lato-text-XS-font-size: 12px;
    --regular-lato-text-XS-letter-spacing: 0px;
    --regular-lato-text-XS-line-height: 18px;
    --regular-lato-text-XS-font-style: normal;
    --regular-lato-text-small-font-family: "Lato", Helvetica;
    --regular-lato-text-small-font-weight: 400;
    --regular-lato-text-small-font-size: 14px;
    --regular-lato-text-small-letter-spacing: 0px;
    --regular-lato-text-small-line-height: 20px;
    --regular-lato-text-small-font-style: normal;
    --regular-lato-text-medium-font-family: "Lato", Helvetica;
    --regular-lato-text-medium-font-weight: 400;
    --regular-lato-text-medium-font-size: 16px;
    --regular-lato-text-medium-letter-spacing: 0px;
    --regular-lato-text-medium-line-height: 24px;
    --regular-lato-text-medium-font-style: normal;
    --regular-lato-text-large-font-family: "Lato", Helvetica;
    --regular-lato-text-large-font-weight: 400;
    --regular-lato-text-large-font-size: 18px;
    --regular-lato-text-large-letter-spacing: 0px;
    --regular-lato-text-large-line-height: 28px;
    --regular-lato-text-large-font-style: normal;
    --regular-lato-text-xlarge-font-family: "Lato", Helvetica;
    --regular-lato-text-xlarge-font-weight: 400;
    --regular-lato-text-xlarge-font-size: 20px;
    --regular-lato-text-xlarge-letter-spacing: 0px;
    --regular-lato-text-xlarge-line-height: 30px;
    --regular-lato-text-xlarge-font-style: normal;
    --regular-lato-display-XS-font-family: "Lato", Helvetica;
    --regular-lato-display-XS-font-weight: 400;
    --regular-lato-display-XS-font-size: 24px;
    --regular-lato-display-XS-letter-spacing: 0px;
    --regular-lato-display-XS-line-height: 32px;
    --regular-lato-display-XS-font-style: normal;
    --regular-lato-display-small-font-family: "Lato", Helvetica;
    --regular-lato-display-small-font-weight: 400;
    --regular-lato-display-small-font-size: 28px;
    --regular-lato-display-small-letter-spacing: 0px;
    --regular-lato-display-small-line-height: 36px;
    --regular-lato-display-small-font-style: normal;
    --regular-lato-display-medium-font-family: "Lato", Helvetica;
    --regular-lato-display-medium-font-weight: 400;
    --regular-lato-display-medium-font-size: 36px;
    --regular-lato-display-medium-letter-spacing: -0.72px;
    --regular-lato-display-medium-line-height: 44px;
    --regular-lato-display-medium-font-style: normal;
    --regular-lato-display-large-font-family: "Lato", Helvetica;
    --regular-lato-display-large-font-weight: 400;
    --regular-lato-display-large-font-size: 48px;
    --regular-lato-display-large-letter-spacing: -0.96px;
    --regular-lato-display-large-line-height: 60px;
    --regular-lato-display-large-font-style: normal;
    --regular-lato-display-xlarge-font-family: "Lato", Helvetica;
    --regular-lato-display-xlarge-font-weight: 400;
    --regular-lato-display-xlarge-font-size: 60px;
    --regular-lato-display-xlarge-letter-spacing: -1.2px;
    --regular-lato-display-xlarge-line-height: 72px;
    --regular-lato-display-xlarge-font-style: normal;
    --regular-lato-display-xxlarge-font-family: "Lato", Helvetica;
    --regular-lato-display-xxlarge-font-weight: 400;
    --regular-lato-display-xxlarge-font-size: 72px;
    --regular-lato-display-xxlarge-letter-spacing: -1.44px;
    --regular-lato-display-xxlarge-line-height: 90px;
    --regular-lato-display-xxlarge-font-style: normal;
    --medium-lato-text-XS-font-family: "Lato", Helvetica;
    --medium-lato-text-XS-font-weight: 500;
    --medium-lato-text-XS-font-size: 12px;
    --medium-lato-text-XS-letter-spacing: 0px;
    --medium-lato-text-XS-line-height: 18px;
    --medium-lato-text-XS-font-style: normal;
    --medium-lato-text-small-font-family: "Lato", Helvetica;
    --medium-lato-text-small-font-weight: 500;
    --medium-lato-text-small-font-size: 14px;
    --medium-lato-text-small-letter-spacing: 0px;
    --medium-lato-text-small-line-height: 20px;
    --medium-lato-text-small-font-style: normal;
    --medium-lato-text-medium-font-family: "Lato", Helvetica;
    --medium-lato-text-medium-font-weight: 500;
    --medium-lato-text-medium-font-size: 16px;
    --medium-lato-text-medium-letter-spacing: 0px;
    --medium-lato-text-medium-line-height: 24px;
    --medium-lato-text-medium-font-style: normal;
    --medium-lato-text-large-font-family: "Lato", Helvetica;
    --medium-lato-text-large-font-weight: 500;
    --medium-lato-text-large-font-size: 18px;
    --medium-lato-text-large-letter-spacing: 0px;
    --medium-lato-text-large-line-height: 28px;
    --medium-lato-text-large-font-style: normal;
    --medium-lato-text-xlarge-font-family: "Lato", Helvetica;
    --medium-lato-text-xlarge-font-weight: 500;
    --medium-lato-text-xlarge-font-size: 20px;
    --medium-lato-text-xlarge-letter-spacing: 0px;
    --medium-lato-text-xlarge-line-height: 30px;
    --medium-lato-text-xlarge-font-style: normal;
    --medium-lato-display-XS-font-family: "Lato", Helvetica;
    --medium-lato-display-XS-font-weight: 500;
    --medium-lato-display-XS-font-size: 24px;
    --medium-lato-display-XS-letter-spacing: 0px;
    --medium-lato-display-XS-line-height: 32px;
    --medium-lato-display-XS-font-style: normal;
    --medium-lato-display-small-font-family: "Lato", Helvetica;
    --medium-lato-display-small-font-weight: 500;
    --medium-lato-display-small-font-size: 24px;
    --medium-lato-display-small-letter-spacing: 0px;
    --medium-lato-display-small-line-height: 32px;
    --medium-lato-display-small-font-style: normal;
    --medium-lato-display-medium-font-family: "Lato", Helvetica;
    --medium-lato-display-medium-font-weight: 500;
    --medium-lato-display-medium-font-size: 36px;
    --medium-lato-display-medium-letter-spacing: -0.72px;
    --medium-lato-display-medium-line-height: 44px;
    --medium-lato-display-medium-font-style: normal;
    --medium-lato-display-large-font-family: "Lato", Helvetica;
    --medium-lato-display-large-font-weight: 500;
    --medium-lato-display-large-font-size: 48px;
    --medium-lato-display-large-letter-spacing: -0.96px;
    --medium-lato-display-large-line-height: 60px;
    --medium-lato-display-large-font-style: normal;
    --medium-lato-display-xlarge-font-family: "Lato", Helvetica;
    --medium-lato-display-xlarge-font-weight: 500;
    --medium-lato-display-xlarge-font-size: 60px;
    --medium-lato-display-xlarge-letter-spacing: -1.2px;
    --medium-lato-display-xlarge-line-height: 72px;
    --medium-lato-display-xlarge-font-style: normal;
    --medium-lato-display-xxlarge-font-family: "Lato", Helvetica;
    --medium-lato-display-xxlarge-font-weight: 500;
    --medium-lato-display-xxlarge-font-size: 72px;
    --medium-lato-display-xxlarge-letter-spacing: -1.44px;
    --medium-lato-display-xxlarge-line-height: 90px;
    --medium-lato-display-xxlarge-font-style: normal;
    --semibold-lato-text-XS-font-family: "Lato", Helvetica;
    --semibold-lato-text-XS-font-weight: 600;
    --semibold-lato-text-XS-font-size: 12px;
    --semibold-lato-text-XS-letter-spacing: 0px;
    --semibold-lato-text-XS-line-height: 18px;
    --semibold-lato-text-XS-font-style: normal;
    --semibold-lato-text-small-font-family: "Lato", Helvetica;
    --semibold-lato-text-small-font-weight: 600;
    --semibold-lato-text-small-font-size: 14px;
    --semibold-lato-text-small-letter-spacing: 0px;
    --semibold-lato-text-small-line-height: 20px;
    --semibold-lato-text-small-font-style: normal;
    --semibold-lato-text-medium-font-family: "Lato", Helvetica;
    --semibold-lato-text-medium-font-weight: 600;
    --semibold-lato-text-medium-font-size: 16px;
    --semibold-lato-text-medium-letter-spacing: 0px;
    --semibold-lato-text-medium-line-height: 24px;
    --semibold-lato-text-medium-font-style: normal;
    --semibold-lato-text-large-font-family: "Lato", Helvetica;
    --semibold-lato-text-large-font-weight: 600;
    --semibold-lato-text-large-font-size: 18px;
    --semibold-lato-text-large-letter-spacing: 0px;
    --semibold-lato-text-large-line-height: 28px;
    --semibold-lato-text-large-font-style: normal;
    --semibold-lato-text-xlarge-font-family: "Lato", Helvetica;
    --semibold-lato-text-xlarge-font-weight: 600;
    --semibold-lato-text-xlarge-font-size: 20px;
    --semibold-lato-text-xlarge-letter-spacing: 0px;
    --semibold-lato-text-xlarge-line-height: 28px;
    --semibold-lato-text-xlarge-font-style: normal;
    --semibold-lato-display-XS-font-family: "Lato", Helvetica;
    --semibold-lato-display-XS-font-weight: 600;
    --semibold-lato-display-XS-font-size: 24px;
    --semibold-lato-display-XS-letter-spacing: 0px;
    --semibold-lato-display-XS-line-height: 32px;
    --semibold-lato-display-XS-font-style: normal;
    --semibold-lato-display-small-font-family: "Lato", Helvetica;
    --semibold-lato-display-small-font-weight: 600;
    --semibold-lato-display-small-font-size: 28px;
    --semibold-lato-display-small-letter-spacing: 0px;
    --semibold-lato-display-small-line-height: 36px;
    --semibold-lato-display-small-font-style: normal;
    --semibold-lato-display-medium-font-family: "Lato", Helvetica;
    --semibold-lato-display-medium-font-weight: 600;
    --semibold-lato-display-medium-font-size: 36px;
    --semibold-lato-display-medium-letter-spacing: -0.72px;
    --semibold-lato-display-medium-line-height: 44px;
    --semibold-lato-display-medium-font-style: normal;
    --semibold-lato-display-large-font-family: "Lato", Helvetica;
    --semibold-lato-display-large-font-weight: 600;
    --semibold-lato-display-large-font-size: 48px;
    --semibold-lato-display-large-letter-spacing: -0.96px;
    --semibold-lato-display-large-line-height: 60px;
    --semibold-lato-display-large-font-style: normal;
    --semibold-lato-display-xlarge-font-family: "Lato", Helvetica;
    --semibold-lato-display-xlarge-font-weight: 600;
    --semibold-lato-display-xlarge-font-size: 60px;
    --semibold-lato-display-xlarge-letter-spacing: -1.2px;
    --semibold-lato-display-xlarge-line-height: 72px;
    --semibold-lato-display-xlarge-font-style: normal;
    --semibold-lato-display-xxlarge-font-family: "Lato", Helvetica;
    --semibold-lato-display-xxlarge-font-weight: 600;
    --semibold-lato-display-xxlarge-font-size: 72px;
    --semibold-lato-display-xxlarge-letter-spacing: -1.44px;
    --semibold-lato-display-xxlarge-line-height: 90px;
    --semibold-lato-display-xxlarge-font-style: normal;
    --regular-FS-display-xxlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-display-xxlarge-font-weight: 400;
    --regular-FS-display-xxlarge-font-size: 72px;
    --regular-FS-display-xxlarge-letter-spacing: -1.44px;
    --regular-FS-display-xxlarge-line-height: 90px;
    --regular-FS-display-xxlarge-font-style: normal;
    --regular-FS-display-xlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-display-xlarge-font-weight: 400;
    --regular-FS-display-xlarge-font-size: 60px;
    --regular-FS-display-xlarge-letter-spacing: -1.2px;
    --regular-FS-display-xlarge-line-height: 72px;
    --regular-FS-display-xlarge-font-style: normal;
    --regular-FS-display-large-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-display-large-font-weight: 400;
    --regular-FS-display-large-font-size: 48px;
    --regular-FS-display-large-letter-spacing: -0.96px;
    --regular-FS-display-large-line-height: 60px;
    --regular-FS-display-large-font-style: normal;
    --regular-FS-display-medium-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-display-medium-font-weight: 400;
    --regular-FS-display-medium-font-size: 36px;
    --regular-FS-display-medium-letter-spacing: -0.72px;
    --regular-FS-display-medium-line-height: 44px;
    --regular-FS-display-medium-font-style: normal;
    --regular-FS-display-small-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-display-small-font-weight: 400;
    --regular-FS-display-small-font-size: 32px;
    --regular-FS-display-small-letter-spacing: 0px;
    --regular-FS-display-small-line-height: 40px;
    --regular-FS-display-small-font-style: normal;
    --regular-FS-display-XS-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-display-XS-font-weight: 400;
    --regular-FS-display-XS-font-size: 24px;
    --regular-FS-display-XS-letter-spacing: 0px;
    --regular-FS-display-XS-line-height: 32px;
    --regular-FS-display-XS-font-style: normal;
    --regular-FS-text-xlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-text-xlarge-font-weight: 400;
    --regular-FS-text-xlarge-font-size: 20px;
    --regular-FS-text-xlarge-letter-spacing: 0px;
    --regular-FS-text-xlarge-line-height: 30px;
    --regular-FS-text-xlarge-font-style: normal;
    --regular-FS-text-large-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-text-large-font-weight: 400;
    --regular-FS-text-large-font-size: 18px;
    --regular-FS-text-large-letter-spacing: 0px;
    --regular-FS-text-large-line-height: 28px;
    --regular-FS-text-large-font-style: normal;
    --regular-FS-text-medium-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-text-medium-font-weight: 400;
    --regular-FS-text-medium-font-size: 16px;
    --regular-FS-text-medium-letter-spacing: 0px;
    --regular-FS-text-medium-line-height: 24px;
    --regular-FS-text-medium-font-style: normal;
    --regular-FS-text-small-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-text-small-font-weight: 400;
    --regular-FS-text-small-font-size: 14px;
    --regular-FS-text-small-letter-spacing: 0px;
    --regular-FS-text-small-line-height: 20px;
    --regular-FS-text-small-font-style: normal;
    --regular-FS-text-XS-font-family: "FS PF BeauSans Pro", Helvetica;
    --regular-FS-text-XS-font-weight: 400;
    --regular-FS-text-XS-font-size: 12px;
    --regular-FS-text-XS-letter-spacing: 0px;
    --regular-FS-text-XS-line-height: 18px;
    --regular-FS-text-XS-font-style: normal;
    --bold-FS-display-xxlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-display-xxlarge-font-weight: 700;
    --bold-FS-display-xxlarge-font-size: 72px;
    --bold-FS-display-xxlarge-letter-spacing: -1.44px;
    --bold-FS-display-xxlarge-line-height: 90px;
    --bold-FS-display-xxlarge-font-style: normal;
    --bold-FS-display-xlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-display-xlarge-font-weight: 700;
    --bold-FS-display-xlarge-font-size: 60px;
    --bold-FS-display-xlarge-letter-spacing: -1.2px;
    --bold-FS-display-xlarge-line-height: 72px;
    --bold-FS-display-xlarge-font-style: normal;
    --bold-FS-display-large-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-display-large-font-weight: 700;
    --bold-FS-display-large-font-size: 48px;
    --bold-FS-display-large-letter-spacing: -0.96px;
    --bold-FS-display-large-line-height: 60px;
    --bold-FS-display-large-font-style: normal;
    --bold-FS-display-medium-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-display-medium-font-weight: 700;
    --bold-FS-display-medium-font-size: 36px;
    --bold-FS-display-medium-letter-spacing: -0.72px;
    --bold-FS-display-medium-line-height: 44px;
    --bold-FS-display-medium-font-style: normal;
    --bold-FS-display-small-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-display-small-font-weight: 700;
    --bold-FS-display-small-font-size: 32px;
    --bold-FS-display-small-letter-spacing: 0px;
    --bold-FS-display-small-line-height: 40px;
    --bold-FS-display-small-font-style: normal;
    --bold-FS-display-XS-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-display-XS-font-weight: 700;
    --bold-FS-display-XS-font-size: 24px;
    --bold-FS-display-XS-letter-spacing: 0px;
    --bold-FS-display-XS-line-height: 32px;
    --bold-FS-display-XS-font-style: normal;
    --bold-FS-text-xlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-text-xlarge-font-weight: 700;
    --bold-FS-text-xlarge-font-size: 20px;
    --bold-FS-text-xlarge-letter-spacing: 0px;
    --bold-FS-text-xlarge-line-height: 30px;
    --bold-FS-text-xlarge-font-style: normal;
    --bold-FS-text-large-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-text-large-font-weight: 700;
    --bold-FS-text-large-font-size: 18px;
    --bold-FS-text-large-letter-spacing: 0px;
    --bold-FS-text-large-line-height: 28px;
    --bold-FS-text-large-font-style: normal;
    --bold-FS-text-medium-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-text-medium-font-weight: 700;
    --bold-FS-text-medium-font-size: 16px;
    --bold-FS-text-medium-letter-spacing: 0px;
    --bold-FS-text-medium-line-height: 24px;
    --bold-FS-text-medium-font-style: normal;
    --bold-FS-text-small-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-text-small-font-weight: 700;
    --bold-FS-text-small-font-size: 14px;
    --bold-FS-text-small-letter-spacing: 0px;
    --bold-FS-text-small-line-height: 20px;
    --bold-FS-text-small-font-style: normal;
    --bold-FS-text-XS-font-family: "FS PF BeauSans Pro", Helvetica;
    --bold-FS-text-XS-font-weight: 700;
    --bold-FS-text-XS-font-size: 12px;
    --bold-FS-text-XS-letter-spacing: 0px;
    --bold-FS-text-XS-line-height: 18px;
    --bold-FS-text-XS-font-style: normal;
    --semibold-FS-display-xxlarge-font-family: "FS PF BeauSans Pro", Helvetica;
    --semibold-FS-display-xxlarge-font-weight: 600;
    --semibold-FS-display-xxlarge-font-size: 72px;
    --semibold-FS-display-xxlarge-letter-spacing: -1.44px;
    --semibold-FS-display-xxlarge-line-height: 90px;
    --semibold-FS-display-xxlarge-font-style: normal;
    --semibold-FS-text-medium-font-family: "FS PF BeauSans Pro", Helvetica;
    --semibold-FS-text-medium-font-weight: 600;
    --semibold-FS-text-medium-font-size: 16px;
    --semibold-FS-text-medium-letter-spacing: 0px;
    --semibold-FS-text-medium-line-height: 24px;
    --semibold-FS-text-medium-font-style: normal;
    --bold-roboto-display-xxlarge-font-family: "Roboto", Helvetica;
    --bold-roboto-display-xxlarge-font-weight: 700;
    --bold-roboto-display-xxlarge-font-size: 72px;
    --bold-roboto-display-xxlarge-letter-spacing: -1.44px;
    --bold-roboto-display-xxlarge-line-height: 90px;
    --bold-roboto-display-xxlarge-font-style: normal;
    --bold-roboto-display-xlarge-font-family: "Roboto", Helvetica;
    --bold-roboto-display-xlarge-font-weight: 700;
    --bold-roboto-display-xlarge-font-size: 60px;
    --bold-roboto-display-xlarge-letter-spacing: -1.2px;
    --bold-roboto-display-xlarge-line-height: 72px;
    --bold-roboto-display-xlarge-font-style: normal;
    --bold-roboto-display-large-font-family: "Roboto", Helvetica;
    --bold-roboto-display-large-font-weight: 700;
    --bold-roboto-display-large-font-size: 48px;
    --bold-roboto-display-large-letter-spacing: -0.96px;
    --bold-roboto-display-large-line-height: 60px;
    --bold-roboto-display-large-font-style: normal;
    --bold-roboto-display-medium-font-family: "Roboto", Helvetica;
    --bold-roboto-display-medium-font-weight: 700;
    --bold-roboto-display-medium-font-size: 36px;
    --bold-roboto-display-medium-letter-spacing: -0.72px;
    --bold-roboto-display-medium-line-height: 44px;
    --bold-roboto-display-medium-font-style: normal;
    --bold-roboto-display-small-font-family: "Roboto", Helvetica;
    --bold-roboto-display-small-font-weight: 700;
    --bold-roboto-display-small-font-size: 32px;
    --bold-roboto-display-small-letter-spacing: 0px;
    --bold-roboto-display-small-line-height: 40px;
    --bold-roboto-display-small-font-style: normal;
    --bold-roboto-display-XS-font-family: "Roboto", Helvetica;
    --bold-roboto-display-XS-font-weight: 700;
    --bold-roboto-display-XS-font-size: 24px;
    --bold-roboto-display-XS-letter-spacing: 0px;
    --bold-roboto-display-XS-line-height: 32px;
    --bold-roboto-display-XS-font-style: normal;
    --bold-roboto-text-xlarge-font-family: "Roboto", Helvetica;
    --bold-roboto-text-xlarge-font-weight: 700;
    --bold-roboto-text-xlarge-font-size: 20px;
    --bold-roboto-text-xlarge-letter-spacing: 0px;
    --bold-roboto-text-xlarge-line-height: 30px;
    --bold-roboto-text-xlarge-font-style: normal;
    --bold-roboto-text-large-font-family: "Roboto", Helvetica;
    --bold-roboto-text-large-font-weight: 700;
    --bold-roboto-text-large-font-size: 18px;
    --bold-roboto-text-large-letter-spacing: 0px;
    --bold-roboto-text-large-line-height: 28px;
    --bold-roboto-text-large-font-style: normal;
    --bold-roboto-text-medium-font-family: "Roboto", Helvetica;
    --bold-roboto-text-medium-font-weight: 700;
    --bold-roboto-text-medium-font-size: 16px;
    --bold-roboto-text-medium-letter-spacing: 0px;
    --bold-roboto-text-medium-line-height: 24px;
    --bold-roboto-text-medium-font-style: normal;
    --bold-roboto-text-small-font-family: "Roboto", Helvetica;
    --bold-roboto-text-small-font-weight: 700;
    --bold-roboto-text-small-font-size: 14px;
    --bold-roboto-text-small-letter-spacing: 0px;
    --bold-roboto-text-small-line-height: 20px;
    --bold-roboto-text-small-font-style: normal;
    --bold-roboto-text-XS-font-family: "Roboto", Helvetica;
    --bold-roboto-text-XS-font-weight: 700;
    --bold-roboto-text-XS-font-size: 12px;
    --bold-roboto-text-XS-letter-spacing: 0px;
    --bold-roboto-text-XS-line-height: 18px;
    --bold-roboto-text-XS-font-style: normal;
    --shadow-small: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px
      rgba(16, 24, 40, 0.06);
    --shadow-medium: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px
      rgba(16, 24, 40, 0.06);
    --shadow-large: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px
      rgba(16, 24, 40, 0.05);
    --shadow-XL: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px
      rgba(16, 24, 40, 0.04);
    --shadow-XXL: 0px 24px 48px -12px rgba(16, 24, 40, 0.25);
    --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.2);
    --shadow-XS: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --fake-border-bottom: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    --fake-border-top: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    --variable-collection-viettel-logo-corner: 49px;
    --variable-collection-viettel-logo-corner-10: 10px;
    --shape-corner-small: 8px;
  }
  