.footer {
    background-color: #000000;
    padding: 20px 40px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }

  .footer-section:first-child {
    flex: 2; /* Make the first column take up twice as much space */
  }

  .footer-logo img{
    max-width: 100px;
  }
  
  .footer-subtitle {
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer-section h4 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li a{
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer-socials a {
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-socials a:hover {
    color: #ffffff;
  }
  
  .footer p {
    font-size: 12px;
    line-height: 1.5;
    color: #ffffff;
  }
  