<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="footer">
      <div class="footer-main-page">
        <div class="footer-logo"><img class="viettel-developers" src="img/viettel-developers-logo.png" /></div>
        <p class="text-wrapper">Website chính thức của dịch vụ Network APIs do Viettel cung cấp</p>
        <div class="frame">
          <div class="div">
            <p class="m-s-doanh-nghi-p">
              Mã số doanh nghiệp: 0100109106 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày 13/07/2010, sửa
              đổi lần thứ 18 ngày 11/01/2022. Người&nbsp;&nbsp;đại diện: Tổng Giám đốc Tào Đức Thắng.
            </p>
            <p class="text-wrapper">© Viettel 2015. All rights reserved.</p>
          </div>
          <div class="frame-2">
            <div class="footer-contents">
              <div class="header-text">Technical References</div>
              <div class="text-wrapper">Sandbox<br />SDK &amp; Tools<br />Integrations</div>
            </div>
            <div class="footer-contents">
              <div class="header-text">Documentation</div>
              <div class="text-wrapper">Documentation</div>
            </div>
            <div class="footer-contents">
              <div class="header-text">Terms and Conditions</div>
              <div class="text-wrapper">Privacy Policy<br />Cookies Policy<br />Cookies Configuration</div>
            </div>
          </div>
          <div class="frame-3">
            <div class="text-wrapper-2">Contact</div>
            <div class="frame-4">
              <div class="footer-icon"><img class="img" src="img/facebook.svg" /></div>
              <div class="footer-icon"><img class="img" src="img/linkedin.svg" /></div>
              <img class="footer-icon-2" src="img/icon.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
