<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h2 class="footer-logo">
          <img src="assets/images/viettel-developers-logo_white.png" alt="Marketplace Logo White">
        </h2>
        <p class="footer-subtitle">developers</p>
        <p>Website chính thức của dịch vụ Network APIs do Viettel cung cấp</p>
        <p>
          Mã số doanh nghiệp: 0100109106 do Sở Kế hoạch và<br>
          Đầu tư Thành phố Hà Nội cấp lần đầu ngày 13/07/2010,<br>
          sửa đổi lần thứ 18 ngày 11/01/2022. Người đại diện:<br>
          Tổng Giám đốc Tào Đức Thắng.
        </p>
        <p>© Viettel 2015. All rights reserved.</p>
      </div>
      <div class="footer-section">
        <h4>Technical References</h4>
        <ul>
          <li>Sandbox</li>
          <li>SDK & Tools</li>
          <li>Integrations</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Documentation</h4>
        <ul>
          <li>Documentation</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Terms and Conditions</h4>
        <ul>
          <li>Privacy Policy</li>
          <li>Cookies Policy</li>
          <li>Cookies Configuration</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <div class="footer-socials">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </footer>
  