.footer {
    background-color: #ef0032;
    padding: 20px 40px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-logo img{
    max-width: 100px;
  }
  
  .footer-subtitle {
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-socials a {
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
  }
  
  .footer-socials a:hover {
    color: #ef0032;
  }
  
  .footer p {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
  }
  