<header class="main-header">
  <div class="header-container">
    <div class="logo">
      <a routerLink='/' routerLinkActive="active">
        <img src="assets/images/viettel-developers-logo.png" alt="Marketplace Logo">
      </a>
    </div>
    <div class="navigation-tabs">
      <div class="menu-icon" (click)="openMenu()">
        <i class="{{menu_icon}}"></i>
      </div>
      <nav class="nav-links" [class.mobile_menu]="menuValue">
        <ul>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">API Catalog</a></li>
          <li><a class="nav-link" routerLink="/getting-started" routerLinkActive="active">Getting Started</a></li>
          <li><a class="nav-link" routerLink="/support" routerLinkActive="active">Support</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-buttons">
      <a href="https://developers.viettel.vn/dev_portal/user/registration">
        <button class="btn">Sign Up</button>
      </a>
      <a href="https://developers.viettel.vn/dev_portal/">
        <button class="btn">Login</button>
      </a>
    </div>
  </div>
</header>