<header class="main-header">
  <nav>
    <div class="logo">
      <a routerLink='/' routerLinkActive="active">
        <img src="assets/images/viettel-developers-logo.png" alt="Marketplace Logo">
      </a>
    </div>
    <ul class="nav-links">
      <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">API Catalog</a></li>
      <li><a class="nav-link" routerLink="/getting-started" routerLinkActive="active">Getting Started</a></li>
      <li><a class="nav-link" routerLink="/support" routerLinkActive="active">Support</a></li>
    </ul>
    <div class="header-buttons">
      <button class="btn">Sign Up</button>
      <button class="btn">Login</button>
    </div>
  </nav>
</header>