<div class="support-container" >
    <h2>Stay Connected with Us</h2>
    <h3>Share your interest with us! We’re excited to learn more about you and your business needs.</h3>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" id="company" formControlName="company">
      </div>
      <div class="form-group">
        <label for="useCase">Use Case</label>
        <textarea id="useCase" formControlName="useCase"></textarea>
      </div>
      <button type="submit" [disabled]="!registrationForm.valid">Submit</button>
    </form>
</div>
