html, body {
  height: 100%; /* Ensure the height of the HTML and body is 100% */
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app spans the full height of the viewport */
}

.content {
  margin-top: 80px; /* Account for fixed header */
  padding: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex: 1; /* Allow the main content to grow and take up remaining space */
}

footer {
  background-color: #f8f8f8; /* Optional styling */
  padding: 20px; /* Optional styling */
}
