.featured-apis {
  padding: 35px;
  align-items: center;
}

.api-slider {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.api-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow: hidden;
  min-height: 400;
  padding: 10px 30px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: -20px;
}

.next {
  right: -20px;
}

.view-all {
  color: black;
}

.featured-apis h2 {
  font-weight: 600;
}

@media (max-width: 900px) {
  .api-container {
    grid-template-columns: repeat(2, 1fr);
    /* Changes to 2 columns */
    min-height: 200;
    padding: 15px 15px;
  }

  .nav-button {
    display: none;
  }

  .featured-apis {
    padding: 20px;
  }
}

/* For mobile phones */
@media (max-width: 768px) {
  .api-container {
    width: 100%;
    grid-template-columns: 1fr;
    /* Changes to 1 column */
    min-height: 200;
    padding: 15px 15px;
  }

  .nav-button {
    display: none;
  }

  .featured-apis {
    padding: 10px;
  }
}